<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.j97.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.input.MaterialDefine"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.NodeDefine"
            android:label="@string/node"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.Rectangle"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.Circle"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.Pipe"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.Tube"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.Ibeam"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.Channel"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.Doubleangle"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.SectionCustom"
            android:label="@string/material_define"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.ViewMaterialsActivity"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.ViewNodesActivity"
            android:label="@string/node"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>