<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.j97.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.input.material.MaterialDefineActivity"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.node.NodeDefineActivity"
            android:label="@string/node"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.RectangleActivity"
            android:label="@string/rectangle"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.CircleActivity"
            android:label="@string/circle"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.PipeActivity"
            android:label="@string/pipe"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.TubeActivity"
            android:label="@string/tube"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.IbeamActivity"
            android:label="@string/ibeam"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.ChannelActivity"
            android:label="@string/channel"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.DoubleAngleActivity"
            android:label="@string/doubleangle"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.SectionCustomActivity"
            android:label="@string/material_define"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.material.ViewMaterialsActivity"
            android:label="@string/materials"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.input.node.ViewNodesActivity"
            android:label="@string/node"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>